:root {
    --border-default-width: 1px;
}

.Akarin {
    opacity: 0.6;
    transition: linear 0.2s;
    font-weight: 100 !important;
}

.Akarin:hover {
    opacity: 0;
}

.MainApp {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.MainApp .NominationInput {
    width: 90%;
    margin-left: 1em;
    height: 1.5em;
    border-radius: 15px;
    border: var(--border-default-width) solid rgb(186, 186, 186);
    padding-left: 0.8em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 0.8em;
    transition: linear 0.2s;
}

.MainApp .NominationInput:hover {
    box-shadow: rgba(105, 105, 105, 0.37) 0 0 6px;
    border: var(--border-default-width) solid black;
}

.MainApp .SearchResultSet{
    margin: 10px;
    padding: 0.1em 0.7em;
    border: var(--border-default-width) solid rgba(186, 186, 186, 0.4);
    background-color: #eee7d7;
}
.MainApp .SearchResultSet p{
    border: var(--border-default-width) solid rgb(186, 186, 186);
    padding: 5px 11px;
    font-size: 0.8em;
    border-radius: 18px;
    background-color: #f3efe5;
    transition: linear 0.2s;
}
.MainApp .SearchResultSet p:hover {
    background-color: #e0c5a8;
}
@media(max-width: 900px) {
    :root {
        --border-default-width: 2px;
    }

    .MainApp {
        flex-direction: column;
    }
}

