.Article {
    margin: 5em auto;
    width: min(75em, 80%);
    font-family: 'Noto Serif SC', serif;
}

.Article h1 {
    text-align: center;
    font-size: 3em;
}

.Article p {
    font-size: 1.2em;
    font-weight: 450;
}